.card {
  border: 1px solid rgb(255, 255, 255);
  position: relative;
  padding: 2rem;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: white;
}

.context {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image {
  width: 100%;
}

.flag {
  position: absolute;
  top: -30px;
  right: -15px;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

li {
  list-style-type: none;
}
