@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 2rem;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ecf0f3;
}

main {
  background-image: url("https://images.unsplash.com/photo-1589519160732-57fc498494f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.container {
  background-image: url("https://images.unsplash.com/photo-1514923995763-768e52f5af87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
  height: 100vh;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.center {
  text-align: center;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.card-container:hover .card-image {
  transform: scale(1.1);
}
